.container{
    width: 120rem;
    background-color: var(--colour-grey-light-1);
    margin: 4rem auto;
    height: 50rem;
}

.header{
    height: 7rem;
    background-color: #fff;
    border-bottom: 1px solid var(--colour-grey-light-2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content{
    display: flex;
}

.sidebar{
    background-color: lightblue;
    flex: 0 0 15%;
}

.hotel-info{
    background-color: palegreen;
    flex: 1;
}

.footer{
    /* background-color: var(--colour-footer); */
    background-color: orange;
}
